<html>
<head>
    <title>PIA</title>
 <style>
  #DDGsearch {
    width: 400px;
    height: 50px;
    margin: auto;
    padding-top: 350px;
    }

  #Piasearch {
    width: 400px;
    height: 100px;
    margin: auto;
    }

  #Result {
    width: 400px;
    margin: auto;
   }

  #query {
      width: 320px;
      border-radius: 3px;
      font-size: 18px;
      color: darkgray;
  }

  #SubmitNew {
      width: 400px;
      margin: auto;
      color: lightgrey;
      padding-top: 100px;
  }

  </style>
</head>


<body>

  <div id="DDGsearch">
    <iframe src="https://duckduckgo.com/search.html?prefill=Search DuckDuckGo&focus=yes" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
</div>


<form method="post">
    <div id="Piasearch">
    <input type="text" id="query" style="height:40px" style="width:200px" placeholder="Search Custom Instant Answers"/>
    <input type="submit" value="Submit"/>
    </div>
</form>


  <div id="Result">
{% if result %}
    <p>{{ result }}</p>
{% endif %}
    </div>




</body>

</html>
